@model ExpensiveControllApp.DTOs.CreateExpensiveDTO

<form method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <fieldset>
        <div class="row">
            <legend>Incluir Nova Despesa</legend>
            <div class="col-lg-10">
                <div class="d-grid">
                    <input asp-for="Description" placeholder="Digite a descrição" class="form-cotroll" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid">
                    <input asp-for="Date" type="date" placeholder="Digite a data" class="form-cotroll" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-10">
                <div class="d-grid">
                    <input asp-for="Value" type="number" placeholder="Digite o valor" class="form-cotroll" />
                </div>
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-lg-10">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-login text-uppercase fw-bold">Criar</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-10">
                <div class="d-grid">
                    <a asp-action="Index" class="btn btn-primary btn-login text-uppercase fw-bold">Voltar</a>
                </div>
            </div>
        </div>
    </fieldset>
</form>